.sign-in {
    margin-top: 20px;
}

@media (min-width: 576px) {
    .sign-in {
        margin-top: 0;
    }
}

body {
    min-height: 100vh;
}

section {
    height: 100vh;
}

#topics {
    background-color: rgba(163, 129, 129, 0.5);
    border-radius: 0 5% 5% 0;
}

#messages {
    background-color: rgba(157, 189, 157, 0.5);
}

#subs {
    background-color: rgba(80, 80, 150, 0.5);
    border-radius: 5% 0 0 5%;
}

#message {
    bottom: 0;
}

#send-div {
}

#send {
    padding: 0;
}

#send-image {
    width: 70%;
    transform: rotate(90deg);
}